<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="/css/jquery-ui.css" type="text/css"/>
<script src="/js/libs/jquery-1.7.2.min.js"></script>
<script src="/js/libs/jquery-ui-1.8.19.custom.min.js"></script>
<script src="/js/libs/d3.v2.js"></script>
<script src="/js/libs/cubism.v1.js"></script>
<script src="/js/libs/buckets.js"></script>
<script src="/socket.io/socket.io.js"></script>
<style>
.wavetext {
  font-size: xx-large;
  font-family: monospace;
}
</style>
<script>

  function channelToggle(chn, turnon) {
    if (turnon == true) {
      $("#wavedisplay"+chn).show();      
    } else {
      $("#wavedisplay"+chn).hide();
    }
  }

  var channels = new buckets.Set();
  var socket = io.connect();

  $("document").ready(function() {
       $(".wavedisplay").hide();
       $(".btnchn").button();
       $(".btnchn").click(function() {
          var turnon = false;
          if ($(this).is(':checked')) {
             turnon = true;
          }
          var id = $(this).attr('id');
          var chn = id.slice(6,id.length+1);
          channelToggle(chn, turnon);
          if (turnon) {
            channels.add(chn);
            console.log("Add channel");
          } else {
            channels.remove(chn);
            console.log("Remove channel");
          }
          var charray = channels.toArray();
          var settings = new Array();
          channels.forEach(function(e) {
            settings.push({"num": e, "t": 0.02});
          });
          socket.emit("message", {"settings": settings});
          console.log(settings);
        });

  });

  // Reload settings on page load
  socket.on('settings', function (data) {
    console.log("Settings", data);
    for(i=0; i< data.length; i++) {
        var num = data[i].num;
        channels.add(num);
        channelToggle(num, true);
        $('#btncn'+num).prop("checked", true);
	console.log($('#btncn'+num).prop("checked"));
	console.log("CheckState", $('#btncn'+num).is(':checked'));
    }
  });
  
  socket.on('update', function (data) {
    var channel = data['channel']
      , value = data['value'];
    $("#wavetext"+channel).text(value);
  });

</script>
</head>
<body>

<h2>Wavemeter channels</h2>

<% for (var c = 1; c <= channels; c++) { %>
    <div id="channel<%= c %>" style="border: solid 0px; height: 100px">
      <input type="checkbox" id="btnchn<%= c %>" class="btnchn"/><label for="btnchn<%= c %>">Channel <%= c %></label>
      <div class="wavedisplay" id="wavedisplay<%= c %>">
      <span class="wavetext" id="wavetext<%= c %>">No data yet....</span>
      </div>
    </div>
<% } %>

</body>
</html>
